<header class="signin-header group">
  <nav class="header-nav group">
    <img class="header-logo" src="/assets/formitable-logo-2.png" alt=""/>
    <a class="header-login" href="#">Login</a>
  </nav>
</header>


<section class="signin-body group">
  <h1 class="signin-login">Form It!</h1>

  <form class="signin-form" action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <% if flash[:errors] %>
        <p><%= flash[:errors] %></p>
      <% end %>

      <label class="signin-email">Email Address
        <input class="text-box" type="text" name="user[email]">
      </label>

      <label class="signin-password">Password
        <input class="text-box" type="password" name="user[password]">
      </label>

      <input class="signin-submit" type="submit">
  </form>
</section>
