/* --- SUPPORT HTML5 TAGS --- */

html, body, header, nav, main,
section, article, footer, small {
  display: block;
}

/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {

  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;

  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  display: block;
  text-align: center;
  font-size: small;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .01em;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* --- CLEARFIX --- */

.group:after {
  display: block;
  content: "";
  clear: both;
}

/* Header */
.auth-header {
  background: #E66760;
  color: #FADDDB;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.header-nav {
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
}

.header-logo {
  content: asset-url("formitable-logo-4.png");
  float: left;
  width: auto;
  height: 60px;
}

.header-auth-switch {
  display: block;
  font-size: 18.96px;
  float: right;
  padding: 17px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.header-auth-switch:hover {
  color: #ffdf8f;
}

/* Body */
.auth-body {
  margin: 20px;
  font-family:'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
}

.auth-slogan {
  font-size: 34px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* Form */
.auth-form {
 width: 80%;
 max-width: 1160px;
 border: 1px solid #ede8e8;
 background: #F8FAFB;
 margin: 0 auto;
 padding: 56.88px 37.92px;
}

.auth-form > label {
  display: block;
  text-align: left;
  font-size: 15.168px;
  margin-bottom: 1.517px;
  padding: 4.55px;
  text-transform: uppercase;
}

.text-box {
  font-size: 18.96px;
  box-sizing: border-box;
  display: block;
  text-align: left;
  border: 1px solid #ede8e8;
  height: 45.391px;
  margin-bottom: 24px;
  width: 100%;
  color: #3a3a3a;
  padding: 9.48px;
}

.auth-submit {
  font-size: 32px;
  font-weight: bold;
  padding: 15px 0;
  margin: 24.648px 0;
  background: #61e064;
  color: #FADDDB;
  display: block;
  width: 100%;
  cursor: pointer;
}

.auth-submit:hover {
  background: #4cdc4f;
}
