html, body, header, nav, main,
section, article, footer, small {
  display: block;
}

/* --- RESET --- */

html, body, header, nav, h1, h2, h3, h4, h5, a, ul, li,
strong, main, section, img, div, p,
form, fieldset, label, input, textarea,
button, article, footer, small {

  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;

  color: inherit;
  background: transparent;
}

.form-edit {
	float: left;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
	font-size: 11.05px;
	font-weight: bold;
	margin-left: 14px;
	padding-left: 10px;
	padding-right: 10px;
	color: #444;
	line-height: 30px;
}

.form-edit:hover {
	background: #B9DCFF;
}

.delete-form  {
	float: right;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
	font-size: 11.05px;
	font-weight: bold;
	margin-right: 14px;
	padding-left: 10px;
	padding-right: 10px;
	color: #444;
	line-height: 30px;
}

.delete-form:hover {
	background: #FAA;
}

.field-delete {
  width: 16px;
  height: 16px;
  float: right;
  z-index: 100;
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
