// Place all the styles related to the api/forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* --- SUPPORT HTML5 TAGS --- */

html, body, header, nav, main,
section, article, footer, small {
  display: block;
}

/* --- RESET --- */

html, body, header, nav, h1, h2, h3, h4, h5, a, ul, li,
strong, main, section, img, div, p,
form, fieldset, label, input, textarea,
button, article, footer, small {

  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;

  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  display: block;
  text-align: center;
  font-size: small;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .01em;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* --- CLEARFIX --- */

.group:after {
  display: block;
  content: "";
  clear: both;
}

/* --- App Body --- */

.app-body {
  margin-top: 17px;
}

.navbar {
  background: #CF3B19;
  border: 1px solid #B83A1F;
  width: 958px;
  margin: 0 auto;

}

.logo-navbar {
  content: asset-url("formitable-logo-4.png");
  float: left;
  height: 39px;
  width: auto;
}

.navbar-menu {
  float: right;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
  color: #FFDA68;
  font-weight: bold;
  font-size: 14.3px;
}

.navbar-item {
  display: block;
  float: left;
  padding-top: 2px;
  margin-right: 40px;
}

.navbar-item > a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  line-height: 36px;
}

.navbar-item {
  position: relative;
}

.account-items {
  display: none;
  position: absolute;
  color: #000;
  font-weight: bold;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  background: #ECECEC;
}

li.account-item {
  line-height: 33px;
  padding: 0 11px;
  cursor: pointer;
}

.account-item > a {
  display: inline-block;
  vertical-align: middle;
}
.navbar-item:hover .account-items  {
 display: block;
}

li.account-item:hover {
  background: #DDD;
  color: #fff;
}

.divider {
  padding: 0;
  line-height: normal;
}

/* --- Manager Header ---- */
.manager {
  width: 920px;
  margin: 0 auto;
  border-left: 1px solid #E3E5E6;
  border-right: 1px solid #E3E5E6;
  border-bottom: 1px solid #E3E5E6;
  padding: 20px;
}

.manager-header {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
  padding-bottom: 19.3px;
}

.manager-header > h1 {
  font-size: 20.8px;
  text-align: left;
  margin-bottom: 5px;
}

.manager-header > p {
  text-align: left;
  font-size: 12.35px;
  font-weight: lighter;
}

.manager-header > button {
  float: right;
  display: block;
  background: #8DB817;
  padding: 4px 12px;
  border: 1px solid #BBBBBB;
  margin-left: 9.8px;
  margin-top: 6px;
  color: #fff;
  font-size: 14px;
  line-height: 25.2px;
  text-shadow: 1px 1px 1px #719412;
}

.manager-header > button:hover {
  background: #9ecf1a;
  cursor: pointer;
}

.forms-section {
  width: 920px;
  border-radius: 10px;
  background: #E5F0FF;
  padding-bottom: 20px;
}

.forms-section > header {
  background: #B3D7FF;
  color: #152531;
  width: 896px;
  height: 22px;
  padding: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

/* --- Form Items --- */

.form-item {
  width: 878px;
  padding: 0 20px;
}

.form-item-header {
  border-radius: 7px;
  background: #79BAF4;
  height: 37px;
  line-height: 37px;
}

.form-item-header:hover {
	background: #FAE158;
}

.form-item-header > h3 {
  float: left;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
  padding: 0 10px;
}

.form-toggle {
  float: right;
  width: 70px;
  height: 36px;
  background: #fff;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-left: 1px solid #A5AEBB;
  border-bottom: 1px solid #79BAF4;
}

.form-toggle > label, input {
  float: left;
}

.form-toggle-label {
  font-size: 11.05px;
  margin-left: 5px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
}

.form-toggle-box {
  float: left;
  margin: 12.5px 10px;
}

.form-options {
  width: 858px;
  margin: 0 auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #F8F8F8;
  height: 30px;
  box-shadow: #A9C5DD 0 1px 3px;
	margin-bottom: 8px;
}

.form-list > li:not(:first-child) {
	margin-top: 8px;
}

.form-list > li:not(:first-child):hover > section.form-options {
	display: block;
}

.form-list > li:not(:first-child) > section.form-options {
		 display: none;
}
