<header class="signup-header group">
  <nav class="header-nav group">
    <img class="header-logo" src="/assets/formitable-logo-3.png" alt=""/>
    <a class="header-login" href="#">Sign Up</a>
  </nav>
</header>


<section class="signup-body group">
  <h1 class="signup-login">Become Formitable!</h1>

  <form class="signup-form" action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <% if flash[:errors] %>
        <p><%= flash[:errors] %></p>
      <% end %>

      <label class="signup-email">Email Address
        <input class="text-box" type="text" name="user[email]">
      </label>

      <label class="signup-password">Password
        <input class="text-box" type="password" name="user[password]">
      </label>

      <label class="signup-username">Username
        <input class="text-box" type="password" name="user[username]">
      </label>


      <input class="signup-submit" type="submit">
  </form>
</section>
